$theme-colors: (
    "primary": #3C6E71,
    "secondary": #FCAF58,
    "dark": #333745,
    "medium": #afafaf,
    "semi-dark": #777,
    "light": #f0f0f0,
);

// Variables
$clr-primary : #3C6E71;
$clr-secondary: #FCAF58;
$clr-dark: #333745;
$clr-medium: #afafaf;
$clr-semi-dark: #777;
$clr-light: #f0f0f0;

@mixin gr-primary {
	background: #3c6e71; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #3c6e71 0%, #173f41 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #3c6e71 0%,#173f41 100%);
	background: radial-gradient(ellipse at center,  #3c6e71 0%,#173f41 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c6e71', endColorstr='#173f41',GradientType=1 );
}

// Fonts
$fnt-primary : 'Raleway', sans-serif;
$fnt-secondary: 'Julius Sans One', sans-serif;
$fnt-special: 'Kanit', sans-serif;


@import "./../../../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Kanit:900|Raleway:300,300i,400,700&display=swap');

@mixin center {
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%
}

@mixin centerX {
	position: absolute;
	transform: translateX(-50%);
	left: 50%
}

@mixin centerY {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}


// GENERAL
* {
	font-family: $fnt-primary;
}

body {
	background-color: $clr-light;
}

h2 {
	font-family: $fnt-secondary;
}

#root {
	min-height: 100vh;
	position: relative;
}

// LAYOUTS
.footer {
	background-color: $clr-primary;
	color: $clr-light;
}

#navbar {
	position: fixed;
	// background-color: rgba($color: $clr-light, $alpha: .95);
	width: 100vw;
	z-index: 1;
	* {
		color: $clr-light;
	}
}


// SECTIONS
.section {
	min-height: 100vh;
}

// HERO
#hero {
	min-height: 100vh;
	position: relative;
	@include gr-primary();
	.container {
		color: $clr-light;
		@include center();
	}
}

.hero__hr-text {
	color: #2A797D;
	font-family: $fnt-special;
	font-weight: 900;
	font-size: 5em;
	letter-spacing: .1em;
	margin-bottom: 0;
}

.hero__hr {
	border-top: 2px solid $clr-light;
	margin: 0;
	position: relative;
	top: -1em;
}

.hero__subhead {
	position: relative;
	top: -.5em;
}

.hero__headline {
	margin-bottom: 0;
}

// ABOUT
.about {
	.img {
		width: 100%;
		min-height: 200px;
	}
	p {
		margin-bottom: 0px;
	}

	.subsection.professional {
		margin-bottom: 100px;
	}
}


// PORTFOLIO
.portfolio {
	height: 400px;
	background-color: $clr-primary;
	.projects {
		position: relative;
	}
	.tile {
		width: 100%;
		height: 300px;
		position: relative;
		color: $clr-light;
		top: -100px;
		overflow: hidden;
	}
	.img-container {
		width: 100px;
	}
	.img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		transform: scale(1.25);
		bottom: 10%;
	}

	.project-details {
		position: absolute;
		bottom: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0, .5);
	}
	.tile:hover .project-details {
		bottom: 0%;
		transition: all .5s ease-out;
	};
	.tile:not( hover ) .project-details {
		transition: all .5s ease-out;
	}
	.tile:hover .img {
		bottom: 0%;
		transition: all .5s ease-out;
	};
	.tile:not( hover ) .img {
		transition: all .5s ease-out;
	}

	.project-title {
		font-weight: bold;
		font-size: 1.1rem;
	}

	.technologies {
		position:absolute;
		padding-bottom: 3em;
		bottom: 0%;
	}
	.technology {
		font-size: .7rem;
		background-color: $clr-secondary;
		padding: .2em .5em;
		border-radius: 2px;
	}
}


// ===== MEDIA QUERIES =====
@media only screen and (min-width: 768px) {
	.hero__hr-text {
		font-size: 12rem;
		bottom: 3rem;
		animation:
		typing 3s steps(3.5, end)
	}

	@keyframes typing {
		from { width: 0 }
		to { width: 45% }
	  }
}